@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar-nav{
    font-size: 1.5em;
    opacity: 80%;
    color: white;
}
.nav-item{
    padding-left: 0.195em;
    padding-right: 0.195em;
    
    font-family:'Courier New', Courier, monospace;
}
.nav-item:hover, .navbar-brand:hover{
    background-color: #323c4e;
    border-radius: 0.3em;
    opacity: 90% !important; 
    /* add animation later */
}


#hey{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("back.png");
    height: 95vh;
    width: 100%;
}

p#ht{
    font-size: 3.3em;
    color: white;
    font-weight: 499;
    font-family: 'Open Sans';
    position: absolute;
    top: 35%;
    left: 5%;
    text-shadow: 0.15em -0.03em 0.2em black;
}

p#name{
    font-family: name;    
    color: white;
    font-weight: 100;
    position: absolute;
    top: 48%;
    left: 5%;
    font-size: 5.15em;
    text-shadow: 0.15em -0.03em 0.2em black;
}


p#liner{
    font-family: "Open Sans";
    color: white;
    position: absolute;
    top: 65vh;
    left: 5%;
    font-size: 1.902em;
    z-index: 11;
    text-shadow: 0 0.03em 0 cyan, 0 -0.03em 0 #f0f;
}






div#about{
    height: 100vh;
    width: 100%;
    background-color: #343536;
}

p#habt{
    font-size: 3.626em;
    color: whitesmoke;
    opacity: 0.75;
    font-family: "Open Sans Extrabold";
    margin-left: 5%;
    padding-top: 3%;
    /* font-weight: 800; */
}

p#abt, p#edu, p#edd{
    margin-right: 20%;
    color: #f6f6f6;
    font-size: 1.66em;
    text-shadow: 0 0.1em 0.1em #000;
    font-family: text;
}

p#abt{
    margin-left: 5%;
}
p#edd{
    display: inline;width: fit-content;margin-right: -0.5em;font-weight: 600;font-size: 2em;text-shadow: 0 0.06em 0.1em #000;
}

div#edudet{
    margin-left:5%;
}



div#stack{
    height: 100vh;
    width: 100%;
    background: #343536ef;
    justify-content: center;
}
div#things{
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
p#tech{
    /* Heading */
    font-size: 3.626em;
    color: whitesmoke;
    opacity: 0.75;
    font-family: "Open Sans Extrabold";
    margin-left: 5%;
    padding-top: 5%;
    /* font-weight: 800; */
}
p.stack{
    display: inline;
    color: white;
    margin-right: 0.5em;
    font-size: 1.5em;
}
#stack_logo{
    color: whitesmoke;
    font-size: 1.5em;
    /* margin-right: 1.7em; */
}
div.sitem{
    padding-bottom: 0.35em;
    padding-top: 0.35em;
    margin: 0.3em 0.3em;
    /* margin-right: 0.5em;     */
    text-align: center;
    width: 16em;
    background-color: rgba(245, 245, 245, 0.015);
    border-radius: 0.5em;
    opacity: 90% !important; 
}
div.sitem:hover {
    background-color: rgba(245, 245, 245, 0.11);
    border-radius: 0.5em;
    opacity: 90% !important; 
}
p#projlink{
    margin-top: 0.8em;
}
p#projlink, p#videolink{
    font-size: 2.5em;
    color: whitesmoke !important;
    opacity: 0.75;
    font-family: "Open Sans Extrabold";
    margin-left: 5%;
    /* margin-top: 0; */
    margin-bottom: 0;
    /* padding-top: 5%; */
}
p#videolink{
    margin-bottom: 3em;
}
a, a:focus, a:active {
    text-decoration: none !important;
    color: whitesmoke !important;
    color: inherit;
    }
a:hover, .heading:hover{
    color: #f5f5f59c !important;
}







div#footer{
    color: whitesmoke;
    background-color: #000;
    padding-left: 5%;
    padding-top: 3em;
    height: 50vh;
    width: 100%;
}
p#want{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.9em;
    width: fit-content;
}
p#connect{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10em;
    font-size: 1.3em;
    width: fit-content;
}
div#fc2{
    display: flex;
    flex-wrap: wrap;
}
i.con{
    padding-right: 0.3em;
}




@media only screen and (max-width: 745px) {
    .nav-item{
        padding-left: 0.15em;
        padding-right: 0.15em;
        font-size: 0.75em;
        font-family:'Courier New', Courier, monospace;
    }
}

@media only screen and (max-width: 893px) {
    div#stack{
        height: fit-content;
    }
    p#tech{
        font-size: 2.5em;
    }
    p#habt{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 655px){
    p#projlink, p#videolink{
        font-size: 2em;
    }
    div#footer{
    height: fit-content;
    }
}



@media only screen and (max-width: 710px) {
    p#name {
        top: 43%;
        font-size: 4em;
    }
    p#ht{
        font-size: 2.98em;
    }
    p#abt, p#edu, p#edd{
        font-size: 1.6em;
    }
    div#about{
        height: 100vh;
    }
  }

  @media only screen and (max-width: 555px) {
    p#name {
        font-size: 3.9em;
        line-height: 135%;
    }
    p#ht{
        top: 33%;
        font-size: 2.68em;
    }
    p#liner{
        top: 70%;
        font-size: 1.6em !important;
    }
    p#abt, p#edu{
        font-size: 1.5em;
        margin-right: 5%;
    }
    p#edd{
        font-style: 2em !important;
    }
    div#about{
        height: fit-content;
        width: 100%;
        padding-bottom: 20vh;
    }
    p#projlink{
        font-size: 1.45em;
    }
    p#videolink{
        font-size: 1.5em;
    }
    p#connect{
        padding-left: 0;
    }
  }


@font-face {
    font-family: name;
    src: url(league-spartan.bold.ttf);
}


@font-face {
    font-family:"Open Sans Extrabold";
    src: url(OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: text;
    src: url(GlacialIndifference-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
