.navbar-nav{
    font-size: 1.5em;
    opacity: 80%;
    color: white;
}
.nav-item:hover, .navbar-brand:hover{
    background-color: #323c4e;
    border-radius: 0.3em;
    opacity: 90% !important; 
    /* add animation later */
}

#app{
    background-image: url(back.png);
}

#hey{
    height: 100vh;
    width: 100%;
}

p#ht{
    font-size: 3.3em;
    color: white;
    font-weight: 499;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 35%;
    left: 5%;
    text-shadow: 0.15em -0.03em 0.2em black;
}

p#name{
    font-family: name;
    color: white;
    position: absolute;
    top: 48%;
    left: 5%;
    font-size: 5.15em;
    text-shadow: 0.15em -0.03em 0.2em black;
}


p#liner{
    font-family: "Open Sans Light";
    color: white;
    position: absolute;
    top: 65vh;
    left: 5%;
    font-size: 1.902em;
    z-index: 11;
    text-shadow: 0 0.03em 0 cyan, 0 -0.04em 0 #f0f;
}






div#about{
    height: 90vh;
    width: 100%;
}

p#habt{
    font-size: 3.626em;
    color: whitesmoke;
    opacity: 0.75;
    font-family: "Open Sans Extrabold";
    margin-left: 5%;
    /* padding-top: 5%; */
    /* font-weight: 800; */
}

p#abt, p#edu, p#edd{
    margin-left: 5%;
    margin-right: 20%;
    color: #f6f6f6;
    font-size: 1.86em;
    text-shadow: 0 0.1em 0.1em #000;
    font-family: text;
}




@media only screen and (max-width: 710px) {
    p#name {
        top: 43%;
        font-size: 3em;
    }
    p#ht{
        font-size: 1.98em;
    }
    p#abt, p#edu, p#edd{
        font-size: 1.6em;
    }
  }

  @media only screen and (max-width: 555px) {
    p#name {
        font-size: 3em;
    }
    p#ht{
        font-size: 1.68em;
    }
    #liner{
        font-size: 1.6em !important;
    }
    p#abt, p#edu, p#edd{
        font-size: 1em;
    }
  }


@font-face {
    font-family: name;
    src: url(league-spartan.bold.ttf);
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Open Sans Light";
    src:url("OpenSans-Light.eot?") format("eot"),url("OpenSans-Light.woff") format("woff"),url("OpenSans-Light.ttf") format("truetype"),url("OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Open Sans Extrabold";
    src: url(OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: text;
    src: url(GlacialIndifference-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }